<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="config/config.properties" />
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<typeAlias alias="BookVO" type="com.yedam.book.vo.BookVO" />
		<typeAlias alias="CartVO" type="com.yedam.cart.vo.CartVO" />
		<typeAlias alias="LikeVO" type="com.yedam.like.vo.LikeVO" />
		<typeAlias alias="MemberVO" type="com.yedam.member.vo.MemberVO" />
		<typeAlias alias="NoticeVO" type="com.yedam.notice.vo.NoticeVO" />
		<typeAlias alias="OrderVO" type="com.yedam.order.vo.OrderVO" />
		<typeAlias alias="OrderDetailVO" type="com.yedam.order.vo.OrderDetailVO" />
		<typeAlias alias="QnaVO" type="com.yedam.qna.vo.QnaVO" />
		<typeAlias alias="QnaReplyVO" type="com.yedam.qnaReply.vo.QnaReplyVO" />
		<typeAlias alias="ReviewVO" type="com.yedam.review.vo.ReviewVO" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper class="com.yedam.book.mapper.BookMapper" />
		<mapper class="com.yedam.cart.mapper.CartMapper" />
		<mapper class="com.yedam.like.mapper.LikeMapper" />
		<mapper class="com.yedam.member.mapper.MemberMapper" />
		<mapper class="com.yedam.notice.mapper.NoticeMapper" />
		<mapper class="com.yedam.order.mapper.OrderMapper" />
		<mapper class="com.yedam.qna.mapper.QnaMapper" />
		<mapper class="com.yedam.qnaReply.mapper.QnaReplyMapper" />
		<mapper class="com.yedam.review.mapper.ReviewMapper" />
	</mappers>
</configuration>